
div#map {
    margin-right: 0px;
    width: 100%;
    height: 100%;
}

div#results {
    font-style: sans-serif;
    color: black;
    font-size: 75%;
}

.login-form {
    max-width: 300px;
    margin: 0px auto;
}

.flisol-footer {
    background: #E25F1B;
    color: #D9E84E;
    padding: 30px 0px;
}

.flisol-top {
    padding: 30px 0px;
}

.touch div#map {
    width: 90%;
    margin-right: 10%;
}
