{% load i18n crispy_forms_tags %}

<div id="instance-creation" class="reveal-modal" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <div>
        <p>{% blocktrans %}Welcome you brave, we are really happy that you are ready to start organizing your Flisol instance, please fill the fields so people can start to subscribe!!!"{% endblocktrans %}</p>
        <p>{% trans "You are our hero!!!" %}</p>
        {{ creation_form|crispy }}
    </div>
</div>

<div id="instance-request" class="reveal-modal" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <div>
        <p>{% blocktrans %}You have looked for it, but there is no instance close to your place and you want to know wether it will be or not.  Please let us know so we can get track and let you know about the best opportunities available.{% endblocktrans %}</p>
        {{ request_form|crispy }}
    </div>
</div>

<div id="instance-subscription" class="reveal-modal" data-reveal>
    <a class="close-reveal-modal">&#215;</a>
    <div>
        {{ subscription_form }}
    </div>
</div>
