{% extends "layout/base.html" %}
{% load static crispy_forms_tags i18n %}

{% block title %}{% trans 'login' %}{% endblock %}

{% block bare_title %}{%trans 'WELCOME, LOG IN' %}{% endblock %}

{% block content %}
<div class="js-login-form" class="text-center">
    <p class="text-center">{% trans 'LOGIN WITH' %}:</p>

    <form method="post" action="" class="login-form">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="next" value="{{ next }}">
        <button class="button align-center">{% trans 'login' %}</button>
    </form>
</div>
<div  class="text-center">
    <p>{% trans 'or with your social network' %}</p>
    <form method="post" action="/complete/persona/">
        <input type="hidden" name="assertion" value="" />
        <a rel="nofollow" id="persona" href="#"><i class="step fi-torso">Mozilla Persona</i></a>
    <a rel="nofollow" href="{% url 'social:begin' 'openstreetmap' %}?next={{ next }}"><i class="step fi-magnifying-glass">OSM</i></a>
    <a rel="nofollow" href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}"><i class="step fi-social-google-plus">G+</i></a>
    <a rel="nofollow" href="{% url 'social:begin' 'facebook' %}?next={{ next }}"><i class="step fi-social-facebook">Facebook</i></a>
    </form>
</div>
{% endblock %}

{% block body_js %}
 <script src="https://login.persona.org/include.js"></script>
<script type="text/javascript">
    $(function () {
        $('#persona').click(function (e) {
            e.preventDefault();
            var self = $(this);

            navigator.id.get(function (assertion) {
                if (assertion) {
                    self.parent('form')
                            .find('input[type=hidden]')
                                .attr('value', assertion)
                                .end()
                            .submit();
                } else {
                    alert('Some error occurred');
                }
            });
        });
    });
</script>
{% endblock %}

{% block login %}{% endblock %}