{% extends "layout/base.html" %}
{% load static crispy_forms_tags %}

{% block title %}Iniciar sesión{% endblock %}

{% block bare_title %}BIENVENIDO, INGRESA A TU CUENTA{% endblock %}

{% block content %}
<div class="js-login-form">
    <p class="text-center">INGRESA CON:</p>

    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="hidden" name="next" value="{{ next }}">
        <button class="btn btn-green">INGRESAR</button>
    </form>
</div>
{% endblock %}