{% extends "foundation/base.html" %}
{% load staticfiles i18n flisol_event_tags %}
{% block title %}Flisol{% endblock %}

{% block css %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/site.css">
    <link href="{% static "foundation/css/foundation-icons.css" %}" rel="stylesheet"/>
{% endblock css %}

{% block base_body %}
  <nav  data-topbar="" role="navigation" class="top-bar url-instances" data-url-instance-list="{% url 'api:instance' %}">
    <!-- Title -->
    <ul class="title-area">
      <li class="name"><h1><a href="/">Flisol</a></h1></li>

      <!-- Mobile Menu Toggle -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <!-- Top Bar Section -->

      <section class="top-bar-section">
      {% block search %}
      {% endblock %}

      <!-- Top Bar Right Nav Elements -->
      {% block login %}
      <ul class="right">
        <!-- Button -->
        <li>
          {% if user.is_authenticated %}
          <a href="{% url 'user:profile_update' %}" alt="{{ user.email }}" title="{% trans 'update profile' %}"><i class="step fi-torso"></i> {% trans 'Profile' %}</a>
        </li>
        <li><a href="{% url 'user:logout' %}" title="{% trans 'logout' %}"><i class="step fi-x-circle"></i> {% trans 'Logout' %}</a>
        </li>
        <li>
          {% if user.is_staff %}<a class="item" role="button" href="{% url 'admin:index' %}"><i class="step fi-widget style-3"></i> {% trans 'Admin' %}</a>{% endif %}
      {% else %}
          <a href="{% url 'user:login' %}"><i class="step fi-at-sign">{% trans 'Login' %}</i></a>
      {% endif %}
        </li>
      </ul>
      {% endblock login %}
    </section>
    <span></span>
  </nav>
  <div data-alert class="alert-box" style="display:none">
    <div class="alert-content"></div>
    <a href="#" class="close">&times;</a>
  </div>
  {% block content %}
  {% endblock content %}
{% endblock %}
